.border-entry {
    border: 1px;
    border-style: solid;
    border-color: black;
    height: 150px;
    width: 640px;
}

.center-video {
    display: grid;
    justify-content: center;
    align-items: center;
}

.text-left {
    display: flex;
    justify-content: left;
}

.text-right {
    display: flex;
    justify-content: right;
}